.Header {
  background-color: $light-bg;
  color: $header-text;

  &-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-bg;
    height: 40px;
    font-weight: 300;
    font-size: $text-sm;
  }

  &-logo {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  &-row {
    align-items: center;
    display: flex;
    
  }

  &-menu {
    margin-right: 50px;
  }

  &-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
  }

  &-link {
    color: $header-text;
    margin-left: 35px;
    margin-right: 35px;
    text-decoration: none;
  }

  &-container {
    height: 75px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
