//colors
$primary-color:#A191B2;
$secondary-color:#313131;
$white: #fff;
$black: #000;

//fonts
$regular-font: "Raleway", sans-serif;

// text sizes
$text-sm: 14px;

//Header Variables
$dark-bg: $black;
$light-bg: $secondary-color;
$header-text: $white;
